.headerText {
    text-align: center;
    margin:0;
    padding:46px;
    padding-bottom:30px;
    background:rgb(164, 82, 82);
    color:white;
    display: flex;
    height: 150px;
    font-size: 100px;
  }

  .header {
    width: 100%;
    height: 3.5rem;
    background-color: #6e2020;
    padding: 0 10%;
  }
  
  .header nav {
    height: 100%;
  }
  
  .header ul {
    height: 100%;
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    align-items: center;
    justify-content: center;
  }
  
  .header li {
    margin: 0 1rem;
    width: 5rem;
  }
  
  .header a {
    color: white;
    text-decoration: none;
  }
  
  .header a:hover,
  .header a:active,
  .header a.active {
    color: #95bcf0;
    padding-bottom: 0.25rem;
    border-bottom: 4px solid #95bcf0;
  } 
  .heading{
  position: relative;
  top: 10px;  
  padding: 3rem;
  font-size: 1.2rem;
  text-align: center;
  background-color: #e5496b;
  color: white;
  left:0;
  width:100%
  } 

